.App-container {
  background-color: darkslategray;
  min-height: 100vh;
}

a {
  color: inherit!important;
  cursor: pointer;
}

a:hover {
  text-decoration: inherit!important;
}

.navbar {
  background-color: rgb(88, 131, 131);
  color: white;
}

.pointer {
  cursor: pointer;
}