body {
    background-color: darkslategray;
    tab-size: 4;
}

.navbar {
    background-color: rgb(88, 131, 131);
    color: white;
}

.navbar .titulo {
    font-weight: bold;
}

.navbar .nav-button {
    cursor: pointer;
}

.navbar .connection-status {
    background-color: #343a40;
    padding: 7px;
    border-radius: 5px;
}

.navbar .connection-status.connecting .connection-icon {
    color: yellow;
    animation: connecting 2s;
    animation-iteration-count: infinite;
}

.navbar .connection-status.connecting .connection-icon::after {
    content: 'Conectando';
}

@keyframes connecting {
    0% { color: palegoldenrod }
    50% { color: chartreuse }
    100% { color: palegoldenrod }
}

.navbar .connection-status.connected .connection-icon {
    color: chartreuse;
}

.navbar .connection-status.connected .connection-icon::after {
    content: 'Conectado';
}

.navbar .connection-status.disconnected .connection-icon {
    color: red;
}

.navbar .connection-status.disconnected .connection-icon::after {
    content: 'Disconectado';
}

.navbar .connection-status input {
    width: 4em;
    text-align: center;
}

.navbar .connection-status.disconnected .connect-config {
    display: inherit;
}

.navbar .connection-status.connected .connect-config,
.navbar .connection-status.connecting .connect-config {
    display: none;
}

.command-block .card {
    box-shadow: 1px 1px 6px black;
}

.command-block .card-title {
    font-size: 80%;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(216, 216, 216);
}

.command-block.running .card-title {
    border-bottom: 1px solid rgb(170, 170, 170);
}

.command-block .card-title .dropdown-menu {
    font-size: 100%;
}

.command-block .card-title .dropdown-menu svg {
    margin-right: 5px;
}

.command-block .card-text {
    font-family: 'Courier New', Courier, monospace;
}

.command-block .card-text .command-text {
    white-space: pre;
    overflow-y: auto;
}

.command-block .run-button .spinner-border {
    display: none;
}

.command-block.running .card {
    border: 1px solid gray;
    background-color: silver;
}

.command-block.running .button-remove {
    display: none;
}

.command-block.running .run-button .spinner-border {
    display: inherit;
}

.command-block.running .run-button .run-text {
    display: none;
}

.recibo {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid gray;
    border-top: 0px;
    background-color: antiquewhite;
    padding: 10px;
    white-space: pre;
    overflow-x: auto;
}

.recibo .progress {
    background-color: wheat;
    white-space: normal;
}

.recibo .progress-bar {
    text-align: left;
    padding-left: 5px;
}

.recibo .progress-bar[style="width: 100%"] {
    background-color: red;
}

button.new-command {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.13);
    border: 0px;
    color: white;
}

button.new-command:disabled {
    background-color: rgba(50, 50, 50, 0.25);
    color: rgba(255, 255, 255, 0.445);
}

button.new-command:hover:enabled {
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
}