@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

.command-block .card-header {
    font-family: 'Open Sans', sans-serif;
}

.command-block .card-body {
    font-size: 80%;
    font-family: 'Roboto Mono', monospace;
    white-space: pre;
    tab-size: 2;
}

.command-block .chunk-status {
    font-size: 80%;
}

.chunk-add-button {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
    color: transparent;
    border-radius: 0.3em;
    font-size: 85%;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.6);
}

.chunk-add-button:hover {
    background-color: rgba(0, 0, 0, 0.4);
}