.command-block {
    z-index: 1000;
    position: relative;
}

.command-block .card-header {
    font-family: 'Open Sans', sans-serif;
}

.command-block .chunk-name {
    font-size: 0.8rem;
}

.command-block .chunk-name:focus {
    background-color: white;
    color: black
}

.command-block .card-body {
    font-family: 'Roboto Mono', monospace;
    font-size: 80%;
    white-space: pre;
    tab-size: 2;
}

.command-block .hourglass-rotate {
    animation: hourglass 3s infinite linear;
}

@keyframes hourglass {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(180deg); }
    50% { transform: rotate(180deg); }
    75% { transform: rotate(360deg); }
    100% { transform: rotate(360deg); }
}

.result-animate-enter {
    position: relative;
    z-index: -100;
    transform: translateY(-100%);
}

.result-animate-enter-active {
    position: relative;
    z-index: -100;
    transform: translateY(0%);
    transition: all linear 500ms;
}

.result-animate-enter-done {
    z-index: -100;
}

.result-animate-exit {
    position: relative;
}

.result-animate-exit-active {
    position: relative;
    z-index: -100;
    transform: translateY(-100%);
    transition: all linear 500ms;
}
